<div class="container" ng-controller="PersonController">
    <div class="row bpc-empty">
        <div class="col-md-6 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <p>{{ 'APPLICATION_TITLE' | translate }}</p>
                </div>
                <div class="panel-body">
                    <table st-table="displayedData" st-safe-src="data" class="table table-sm">
                        <thead class="thead-dark">
                        <tr>
                            <th>{{ 'NAME' | translate }}</th>
                            <th>{{ 'GENDER' | translate }}</th>
                            <th>{{ 'FATHER' | translate }}</th>
                            <th>{{ 'MOTHER' | translate }}</th>
                            <th>{{ 'CHILDRENS' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody ng-show="state.isLoading">
                            <tr>
                                <td colspan="5" class="text-center">
                                    <div class="loader"></div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="!state.isLoading">
                            <tr ng-repeat="(key, person) in displayedData">
                                <td>{{ person.name }}</td>
                                <td>{{ person.gender | translate }}</td>
                                <td>{{ getPersonNameById(person.parents['MALE']) }}</td>
                                <td>{{ getPersonNameById(person.parents['FEMALE']) }}</td>
                                <td>{{ getPersonNamesByIds(person.childs) }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" class="text-center">
                                    <div st-pagination="" st-page-change="pageChanged(newPage)" st-items-by-page="settings.itemsByPage" st-displayed-pages="settings.displayedPages"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <p>{{ 'PHOTO' | translate }}</p>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>

    </div>
</div>