<div class="container" >
    <div class="row bpc-empty">

        <div class="col-md-6 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <p class="panel-title">{{ 'APPLICATION_TITLE' | translate }}</p>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" ng-model="settings.itemsPerPage" ng-options="p for p in settings.itemsPerPageOptions"></select>
                        </div>
                    </div>
                </div>
                <div class="panel-body bpc-table-block">
                    <table st-table="displayedData" st-safe-src="data"
                           bpc-st-decorate="select" bpc-st-decorate-fn="onRowSelected"
                           class="table table-sm">
                        <thead bpc-st-decorate="tableState" bpc-st-decorate-fn="onTableStateRequested">
                        <!-- TODO: implement filtering of results -->
                        <!--tr>
                            <th>
                                <input st-search="name" class="input-sm form-control" type="search"/>
                            </th>
                            <th>
                                <input st-search="gender" class="input-sm form-control" type="search"/>
                            </th>
                            <th>
                                <input st-search="father" class="input-sm form-control" type="search"/>
                            </th>
                            <th>
                                <input st-search="mother" class="input-sm form-control" type="search"/>
                            </th>
                            <th>
                                <input st-search="childs" class="input-sm form-control" type="search"/>
                            </th>
                        </tr-->
                        <tr>
                            <th>{{ 'NAME' | translate }}</th>
                            <th>{{ 'GENDER' | translate }}</th>
                            <th>{{ 'FATHER' | translate }}</th>
                            <th>{{ 'MOTHER' | translate }}</th>
                            <th>{{ 'CHILDRENS' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody ng-show="state.isLoading">
                            <tr>
                                <td colspan="5" class="text-center">
                                    <div class="loader"></div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="!state.isLoading">
                            <tr st-select-row="person" ng-repeat="(key, person) in displayedData">
                                <td>{{ person.name }}</td>
                                <td>{{ person.gender | translate }}</td>
                                <td>{{ getPersonNameById(person.parents['MALE'], isObjectDefined(person.parents['MALE']) ) }}</td>
                                <td>{{ getPersonNameById(person.parents['FEMALE'], isObjectDefined(person.parents['FEMALE'])) }}</td>
                                <td>{{ getPersonNamesByIds(person.childs, '') }}</td>
                            </tr>
                        </tbody>
                        <tfoot ng-show="!state.isLoading">
                            <tr>
                                <td colspan="5" class="text-center">
                                    <div st-pagination="" st-page-change="pageChanged(newPage)" st-items-by-page="settings.itemsPerPage" st-displayed-pages="settings.displayedPages"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading bpc-panel-heading text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="panel-title">{{ 'PHOTO' | translate }}</p>
                        </div>
                    </div>
                </div>
                <div class="panel-body bpc-photo-block text-center">
                    <span ng-show="!isPhotoExist()" class="glyphicon glyphicon-ban-circle"></span>
                    <img ng-show="isPhotoExist()" ng-src="data:image/JPEG; base64, {{ getPhotoData() }}">
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading bpc-panel-heading text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="panel-title">{{ 'SEARCH' | translate }}</p>
                        </div>
                    </div>
                </div>
                <div class="panel-body bpc-search-block">
                    <table class="table table-sm borderless">
                        <thead></thead>
                        <tbody ng-show="!state.isLoading">
                            <tr>
                                <td>
                                    <input type="text" class="form-control" placeholder="{{ 'SEARCH_BY_NAME' | translate }}" ng-model="filter.name" ng-trim="true">
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="{{ 'SEARCH_BY_MOTHER' | translate }}" ng-model="filter.mother" ng-trim="true">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" placeholder="{{ 'SEARCH_BY_CHILD' | translate }}" ng-model="filter.child" ng-trim="true">
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="{{ 'SEARCH_BY_FATHER' | translate }}" ng-model="filter.father" ng-trim="true">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="form-control" ng-model="filter.gender" ng-options="obj as obj.v for obj in settings.genderOptions track by obj.k"></select>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-show="!state.isLoading">
                            <tr>
                                <td colspan="5">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-primary" ng-click="performSearch()">{{ 'FIND' | translate }}</button>
                                        <button type="button" class="btn btn-default" ng-click="performReset()">{{ 'RESET' | translate }}</button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>