.bpc-empty {
    margin-top: 20px;
}

.bpc-photo-block,
.bpc-search-block {
    height: 250px;
}

.bpc-panel-heading p {
    height: 34px;
}

.bpc-photo-block>span {
    font-size: 4em;
    color: #d3d3d3;
}

.bpc-table-block {
    height: 577px;
}

.bpc-table-block tbody>tr {
    cursor: pointer;
}

.st-selected {
    background : #d3d3d3;
}

.bpc-search-block table>tfoot div>button:last-of-type {
    position: static;
}

.bpc-search-block table>tfoot div>button:first-of-type {
    width: 225px;
}

table.borderless>tbody>tr>td {
    border-top: 0px;
}

.loader {
    left : 45%;
    position: relative;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}